@import "src/assets/sass/general.scss";



:host::ng-deep table.dataTable thead {
  background-color: #4b626c !important;
}
.title-typ-devo {
  font-size: $font-size-ultra;
  font-family: $ff-gotham-black-regular;
  color: $sunarp-gray-dark;
}