

<button type="button" class="btn-sunarp-yellow btn-reload-tabla"><i
  class="fa fa-user icon-sunarp"></i>Crear Usuario</button>
<div class="mt-2">
  <div class="table-responsive">
    <table datatable
      class="table thead-sunarp" datatable [dtOptions]="datatable_usuario" [dtTrigger]="datatable_dtTrigger_usuario">
      <thead>
        <tr>
          <th style="width: 30px" class="text-center">N°</th>
          <th class="text-center">Usuario</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Paterno</th>
          <th class="text-center">Materno</th>
          <th class="text-center">Código Alumno</th>
          <th class="text-center">Email</th>
          <th class="text-center">Telefono</th>
          <th class="text-center">Carrera</th>
          <th class="text-center">Carrera</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
